--- 
--- 
@import "{{ site.theme }}";

@import url(https://fonts.googleapis.com/css?family=Raleway:100,400,700);

.project-name {
  color: #159957;
}

.page-header {
  display: block;
  margin-top: 1.5rem;
  background: url(/assets/images/bg-2.jpg) center top no-repeat;
  background-color: #ffff;
  color: #991578;
}

.image-row:after {
  content: "";
  display: table;
  clear: both;
}

#profil {
  margin-right: 2rem;
}

li {
  margin-bottom: 0.35rem;
}

.timesheet {
  width: 830px;
  height: 220px;
  margin: 0 auto;
  border-top: 1px solid rgba(250, 250, 250, 0.5);
  background-color: #333;
  position: relative
}

.timesheet.color-scheme-default .bubble-default {
  background-color: RGBA(252, 70, 74, 1)
}

.timesheet.color-scheme-default .bubble-lorem {
  background-color: RGBA(154, 202, 39, 1)
}

.timesheet.color-scheme-default .bubble-ipsum {
  background-color: RGBA(60, 182, 227, 1)
}

.timesheet.color-scheme-default .bubble-dolor {
  background-color: RGBA(244, 207, 48, 1)
}

.timesheet.color-scheme-default .bubble-sit {
  background-color: RGBA(169, 105, 202, 1)
}

.timesheet.color-scheme-alternative .bubble-default {
  background-color: #f3552e
}

.timesheet.color-scheme-alternative .bubble-lorem {
  background-color: #88c33a
}

.timesheet.color-scheme-alternative .bubble-ipsum {
  background-color: #436ae0
}

.timesheet.color-scheme-alternative .bubble-dolor {
  background-color: #f4d234
}

.timesheet.color-scheme-alternative .bubble-sit {
  background-color: #707d86
}

.timesheet .scale {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  float: left
}

.timesheet .scale section {
  float: left;
  width: 59px;
  text-align: center;
  color: rgba(250, 250, 250, 0.8);
  font-family: "Signika Negative";
  font-size: 13px;
  line-height: 24px;
  font-weight: lighter;
  border-left: 1px dashed rgba(250, 250, 250, 0.2);
  height: 100%
}

.timesheet .data {
  margin: 28px 0 0 0;
  padding: 0;
  text-align: left;
  list-style-type: none;
  color: rgba(250, 250, 250, 0.8);
  font-family: "Signika Negative";
  font-size: 13px;
  overflow: hidden
}

.timesheet .data li {
  margin: 0 0 3px 0;
  line-height: 22px;
  height: 21px;
  display: block;
  clear: both;
  position: relative;
  white-space: nowrap
}

.timesheet .data li:hover .bubble {
  opacity: 1
}

.timesheet .data li .date {
  color: #b5b5b5;
  font-size: 14px
}

.timesheet .data li .label {
  font-weight: lighter;
  font-size: 14px;
  padding-left: 5px;
  line-height: 21px;
  color: #979796;
  white-space: nowrap
}

.timesheet .data li .bubble {
  width: 24px;
  height: 7px;
  display: block;
  float: left;
  position: relative;
  top: 7px;
  border-radius: 4px;
  margin: 0 10px 0 0;
  opacity: 0.7
}

#timesheet-alternative {
  background-color: RGBA(247, 247, 247, 1);
  border-radius: 5px
}

#timesheet-alternative section {
  color: RGBA(63, 68, 72, 1);
  border-left: 1px dashed RGBA(63, 68, 72, 0.2)
}

#timesheet-alternative section:first-child {
  border-left: 1px dashed transparent
}

#timesheet-alternative .date {
  display: none
}

#timesheet-alternative .bubble {
  margin-right: 7px
}

#timesheet-alternative .label {
  padding-left: 0px;
  color: RGBA(48, 48, 48, 1)
}

.white .timesheet {
  width: 830px;
  height: 220px;
  margin: 0 auto;
  border-top: 1px solid rgba(60, 60, 60, 0.3);
  background-color: #fbfbfb;
  position: relative
}

.white .timesheet.color-scheme-default .bubble-default {
  background-color: RGBA(252, 70, 74, 1)
}

.white .timesheet.color-scheme-default .bubble-lorem {
  background-color: RGBA(154, 202, 39, 1)
}

.white .timesheet.color-scheme-default .bubble-ipsum {
  background-color: RGBA(60, 182, 227, 1)
}

.white .timesheet.color-scheme-default .bubble-dolor {
  background-color: RGBA(244, 207, 48, 1)
}

.white .timesheet.color-scheme-default .bubble-sit {
  background-color: RGBA(169, 105, 202, 1)
}

.white .timesheet.color-scheme-alternative .bubble-default {
  background-color: #f3552e
}

.white .timesheet.color-scheme-alternative .bubble-lorem {
  background-color: #88c33a
}

.white .timesheet.color-scheme-alternative .bubble-ipsum {
  background-color: #436ae0
}

.white .timesheet.color-scheme-alternative .bubble-dolor {
  background-color: #f4d234
}

.white .timesheet.color-scheme-alternative .bubble-sit {
  background-color: #707d86
}

.white .timesheet .scale {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  float: left
}

.white .timesheet .scale section {
  float: left;
  width: 59px;
  color: rgba(50, 50, 50, 0.8);
  font-family: "Signika Negative";
  font-size: 13px;
  line-height: 24px;
  font-weight: 300;
  border-left: 1px dashed rgba(50, 50, 50, 0.1);
  height: 100%
}

.white .timesheet .data {
  margin: 28px 0 0 0;
  padding: 0;
  text-align: left;
  list-style-type: none;
  color: rgba(250, 250, 250, 0.8);
  font-family: "Signika Negative";
  font-size: 13px;
  overflow: hidden
}

.white .timesheet .data li {
  margin: 0 0 3px 0;
  line-height: 22px;
  height: 30px;
  display: block;
  cursor: pointer;
  clear: both;
  position: relative;
  white-space: nowrap;
  margin-top: 10px;
}

.white .timesheet .data li:hover .bubble {
  opacity: 1
}

.white .timesheet .data li .date {
  color: #797979;
  font-size: 17px
}

.white .timesheet .data li .label {
  font-weight: 120;
  font-size: 17px;
  padding-left: 5px;
  line-height: 21px;
  color: #333332;
  white-space: nowrap;
  margin-right: 0.3rem;
}

.white .timesheet .data li .bubble {
  width: 24px;
  height: 15px;
  display: block;
  float: left;
  position: relative;
  top: 3px;
  border-radius: 4px;
  margin: 0 10px 0 0;
  opacity: 0.7
}

.timesheet .data .feature {
  font-weight: lighter;
  font-size: 12px;
  padding-left: 5px;
  line-height: 21px;
  color: #ffffff;
  white-space: nowrap;
  background-color: black;
  padding: 0.3rem 0.8rem;
  margin-left: 0.3rem;
  margin-right: 0;
  border-radius: 30px;
}

.feature-angular {
  background-color: #13B9A5 !important;
}

.feature-javaee {
  background-color: #4A9675 !important;
}

.feature-sapjco {
  background-color: #D0257A !important;
}

.feature-spring {
  background-color: #B88400 !important;
}

.feature-nosql {
  background-color: #118EA7 !important;
}

.feature-ontologies {
  background-color: #577FB2 !important;
}

.feature-oracle {
  background-color: #650F6B !important;
}

.feature-ui-design {
  background-color: rgb(52, 73, 100) !important;
}

.box-container {
  background-image: url("/assets/images/phone.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 25rem;
  min-width: 700px;
}

.raleway {
  font-family: Raleway, Open Sans, Droid Sans, Roboto, sans-serif, arial;
}

.box {
  width: 650px;
  height: 300px;
  top: 10%;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, .6);
  border: 1px solid rgba(255, 255, 255, .3);
  padding: 20px;
  left: calc(50% - 325px);
  text-align: center;
  box-sizing: border-box;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
  display: flex;
  transition: box-shadow .3s ease;
  color: #ffffff;
  font-size: 14px;
  overflow: hidden;
  margin: 0.5rem;
}

.with-flex {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.blurred-bg {
  background-image: url("/assets/images/phone-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.profile-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 18rem;
  min-width: 700px;
  display: flex;
  overflow: hidden;
  margin-top: 1rem;
}

.profile-pic {
  flex: 0 206px;
}

.profile-pic img {
  border-radius: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11),
    0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11),
    0 6px 8px rgba(0, 0, 0, 0.11),
    0 8px 16px rgba(0, 0, 0, 0.11);
}

.top-container {
  flex: 1 0;
  margin-left: 1rem;
}

.top-box {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 3rem;
  height: 260px;
  padding: 1.5rem 1.5rem;
  line-height: 20px;
  margin-top: 0.2rem;
  box-sizing: border-box;
  margin-left: 0.5rem;
  margin-right: 2rem;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
    0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07),
    0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07),
    0 32px 64px rgba(0, 0, 0, 0.07);
}

.top-box div {
  margin-left: 1rem;
  margin-bottom: 1.5rem;
  font-family: Raleway, Open Sans, Droid Sans, Roboto, sans-serif, arial;
}