<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <title>Angular Frontend Freelancer - Michael J. Patalas</title>
  <!-- google verification-->
  <meta name="google-site-verification" content="9qfuiDtCXu-wBeX9wLQb3kjpZUSRNFC_LMlrbkWd5_M" />
  <!-- timesheet -->
  <script src="/assets/libs/ext-timesheet.js"></script>
  <!-- google analytics -->
  {% if site.google_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics }}');

  </script>
  {% endif %}
  <script src="/assets/libs/txt-rotate.js"></script>
  <meta charset="UTF-8">

  {% seo %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
</head>

<body>
  <header class="page-header" role="banner">
    <h1 class="project-name raleway">{{ site.title }}</h1>
    <h1>
      <span class="txt-rotate raleway" data-period="3000" data-rotate='[ "Frontend Specialist", "Angular Expert", "SAP Connector", "Java Pro", "Teamplayer"]'></span>
    </h1>
    <h2 class="project-tagline raleway" style="opacity: 1 !important;">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
  </header>

  <main id="content" class="main-content" role="main">
    {{ content }}

    <footer class="site-footer">
      {% if site.github.is_project_page %}
      <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
      {% endif %}
    </footer>
  </main>
</body>

</html>
